.navbar-main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #dbdbde;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.navbar-logo {
    width: 40px;
    margin: 8px 8px;
}
.navbar-leftbar{
    display: flex;
    justify-content: left;
}
.navbar-search-container {
    position: relative;
    width: fit-content; /* Để chứa vừa nội dung */
}
.navbar-search-logo {
    position: absolute;
    top: 52%;
    left: 10px; /* Điều chỉnh vị trí ngang của icon */
    transform: translateY(-50%);
    width: 20px; /* Đảm bảo chiều rộng của icon */
    height: auto; /* Đảm bảo tỷ lệ của icon */
}
.navbar-search-logo:hover {
    cursor: pointer;
}
.navbar-search {
    height: 40px;
    width: 23vh;
    border-radius: 25px;
    border: 0px;
    background-color: #eff2f5;
    font-size: 16px;
    padding-left: 40px;
    padding-right: 20px;
    margin-top: 8px;
}
.navbar-container {
    display: flex;
    justify-content: center;
}
.navbar-tabs {
    width: 120px;
    margin-top: 15px;
    text-align: center;
}
.navbar-tabs.active {
    border-bottom: 3px solid #1877f2;
}
.navbar-rightbar {
    display: flex;
    justify-content: flex-end;
}
.navbar-right-tab {
    display: flex;
}
.navbar-right-img {
    margin-top: 8px;
    margin-right: 16px;
    max-width: 40px;
    max-height: 40px;
}
.mainpage-container {
    display: flex;
    margin-top: 60px;
}
@media (max-width: 1270px) {
    .navbar-logo {
        width: 40px;
        margin: 8px 8px;
    }
    .navbar-search {
        width: 0vh;
        padding-right: 3px;
    }
    /* .navbar-middle-container {
        visibility: hidden;
    } */
}
@media (max-width: 900px) {
    .navbar-middle-container {
        visibility: hidden;
    }
    .navbar-right-img {
        visibility: hidden;
    }
}