.navbar-main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #dbdbde;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.navbar-logo {
    margin: 8px 16px;
}
.navbar-leftbar{
    display: flex;
    justify-content: left;
}
.navbar-search {
    height: 40px;
    width: 220px;
    border-radius: 25px;
    border: 0px;
    background-color: #eff2f5;
    font-size: 16px;
    padding-left: 30px;
    margin-top: 8px;
}
.navbar-container {
    display: flex;
    justify-content: center;
}
.navbar-tabs {
    width: 120px;
    margin-top: 15px;
    text-align: center;
}
.navbar-tabs.active {
    border-bottom: 3px solid #1877f2;
}
.navbar-rightbar {
    display: flex;
    justify-content: flex-end;

}
.navbar-right-tab {
    display: flex;
}
.navbar-right-img {
    margin-top: 8px;
    margin-right: 16px;
    max-width: 40px;
    max-height: 40px;
}
.mainpage-container {
    display: flex;
    margin-top: 60px;
}