.upload-container {
    height: 72px;
    width: 690px;
}
.upload-top {
    display: flex;
    width: 690px;
}
.upload-img {
    margin: 15px;
}
.upload-box {
    display: inline-block;
    height: 40px;
    width: 580px;
    background-color: #eff2f5;
    border-radius: 30px;
    margin-top: 15px;
    padding-left: 20px;
    font-size: 18px;
    line-height: 40px; /* Đảm bảo văn bản căn giữa theo chiều dọc */
    cursor: pointer; /* Thêm con trỏ để chỉ rằng phần tử có thể được nhấp vào */
    color: black; /* Màu chữ */
    text-decoration: none; /* Bỏ gạch chân */
}

.upload-box:hover {
background-color: #d0d3d6;
}
.upload-box::placeholder {
font-size: 18px;
}