* {
    font-family: Arial, Helvetica, sans-serif;
}
.mainpage-container {
    height: 100%;
    background-color: #eff2f5;
}
.imglayout-container {
    display: flex;
    margin: 15px;
}
.imglayout-img {
    max-height: 35px;
    max-width: 35px;
    background-repeat: no-repeat;
}
.imglayout-text {
    font-weight: 500;
    font-size: 14px;
    margin: 10px;
}
.right-container {
    margin-left: 120px;
}
.right-contact > h3{
    margin-top: 10px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}