.mainpage-container {
    height: 100vh;
    background-color: #eff2f5;
}
.imglayout-container {
    display: flex;
    margin: 15px;
}
.imglayout-img {
    max-height: 35px;
    max-width: 35px;
    background-repeat: no-repeat;
}
.imglayout-text {
    font-weight: 500;
    font-size: 14px;
    margin: 10px;
}